<%= form_tag '/pictures', method: 'get' do %>
<%= text_field_tag :site, nil, value: 'http://' %>
<%= submit_tag 'Get Sites' %>
<% end %>

<div class = 'images'>
	<% @sites.each do |site| %>
	<div class = '<%=site.id%>'>
		<a href = <%= site.site_url %> >
			<%= site.title %>
		</a>
		<% if UsersSite.find_by(users_id: session[:user_id], sites_id: site.id) %>
		<div class = 'already-liked ui green button'>Pinned!</div>
		<% else %>
		<%= render partial:"like_comic", locals: {site: site} %>
		<div class = 'already-liked ui green button'  style="display: none;">Pinned!</div>
		<%end%>
		<br>
		<a href = <%= site.site_url %> >

			<img src = <%= site.picture_url %> >
		</a>
	</div>
	<% end %>
</div>