<div id = 'random-site'>

	<br>


	<div class = "ui primary button">
		<%= link_to "Another!", random_path, class: "header-option item", id: "another" %>
	</div>
	<% if UsersSite.find_by(users_id: session[:user_id], sites_id: @site.id) %>
	<div class = 'already-liked ui green button'>Pinned!</div>
	<% else %>
	<%= render partial:"like_comic", locals: {site: @site} %>
	<div class = 'already-liked ui green button'  style="display: none;">Pinned!</div>
	<%end%>
	<a href = <%= @site.site_url %> >
		<%= @site.title %>
		<br>
		<img src = <%= @site.picture_url %> >
	</a>

	<br>
</div>


