<div class="ui inverted menu" id='nav-menu'>
  <div class = "left menu">
  	<%= link_to "Comics", sites_path, class: "header-option item" %>
  	<%= link_to "Random", random_path, class: "header-option item" %> 
  </div>

  <div class="right menu">

    <%if current_user%>
      <%= link_to "Profile", profile_path, class: "header-option item"%>
      <%= link_to "Logout", logout_path, method: :delete, class: "header-option item"%>
    <% else %>
      <%= link_to "Login", login_path, class: "header-option item"%>
      <%= link_to "Register", new_user_path, class: "header-option item"%>
    <% end %>

  </div>
</div>







